app/__pycache__/arvores.cpython-312.pyc
app/__pycache__/binaria.cpython-311.pyc
app/__pycache__/binaria.cpython-312.pyc
app/__pycache__/bmais.cpython-311.pyc
app/__pycache__/bmais.cpython-312.pyc
app/__pycache__/manipulador.cpython-311.pyc
app/__pycache__/manipulador.cpython-312.pyc
app/__pycache__/patricia.cpython-311.pyc
app/__pycache__/patricia.cpython-312.pyc
